@model IEnumerable<DimensionWeb_App.Models.DimensionData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceFromHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLevel)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceFromHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLevel)
            </td>
            <td>
                <a  asp-action="Edit" asp-route-id="@item.EmployeeNumber">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.EmployeeNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
